#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    max-height: calc(100vh - 50px);
}

#map-container {
    order: 1;
    flex-grow: 1;
}

#data-container {
    order: 2;
    flex-grow: 1;
    overflow-x: scroll;
    overflow-y: auto;
}